.category-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.categories-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

.new-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    padding: 0 5%;
    margin-bottom: 2rem;
    gap: 20px;
}

.add-list-btn {
    margin-left: 10px;
}

.add-btn {
    background-color: var(--headerBg);
    color: var(--headerFont);
    padding: 10px;
    margin-left: 10px;
}

.add-btn:hover,
.add-btn:active {
    cursor: pointer;
    background-color: var(--headerFont);
    color: var(--primaryFont);
    border-color: var(--headerBg);
}

.categories-input {
    margin-right: 10px;
    padding: 5px;
    font-size: 90%;
}

.categories {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    padding: 0 5%;
    max-width: 450px;
}

.categories-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.category-length {
    margin-right: 10px;
}

.list-content-container {
    width: 100%;
}

.accordion-container {
    width: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.accordion-div {
    width: 80%;
    min-width: 340px;
    max-width: 500px;
}

.list {
    list-style-type: none;
    padding: 1rem;
    min-width: 100%;
    border: solid 1px var(--primaryFont);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--secondaryBg);
}

.list:hover {
    cursor: pointer;
}

.list-icon {
    font-size: 150%;
    color: var(--primaryFont);
}

 .categories-input, .categories-select, .add-btn, .form-field, .list, .new-item {
     border-radius: 10px;
 }

 .list-card {
     border-radius: 0 0 10px 10px;
 }

 .list-open {
     border-radius: 10px 10px 0 0;
 }

@media (orientation: landscape) {

    .accordion-container {
        justify-content: space-around;
        flex-direction: row;
        align-items:baseline;
    }

   .accordion-div {
        width: auto;
        flex: 1 1 30%;
        min-width: 400px;
    }

    .new-list-container {
        padding: 0 15%;
    }

}

@media screen and (max-width: 418px) {
    .categories-form {
        flex-wrap: wrap;
    }

    .categories-select, .add-btn {
        margin-top: 10px;
    }
}