.dropdown-menu {
    width:100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 2rem 0;
}

.dropdown-menu select {
    /* padding: 0 10%; */
    background-color: var(--secondaryBg);
}

.dropdown-menu select:hover {
    cursor: pointer;
}

.dropdown-icon {
    color:black;
    font-size: 50px;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

#category-select {
    /* width: 50vw; */
    font-size: 80%;
}