footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: var(--secondaryFont);
    height: 60px;
    background-color: rgb(169, 63, 211);
    color: white;
    margin-top: 100px;
}