.list-card {
    border: solid 1px black;
    border-top: none;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--secondaryBg);
    padding-top: 1rem;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 1rem 10px;
}

.item-label {
  margin: 0;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 25px;
  height: 25px;
}

.item-text {
  padding-left: 10px;
  font-size: 80%;
  flex-grow: 2;
  margin: 0;
  display: block;
  text-align: left;
}

.item-delete-icon {
    display: flex;
    justify-content: center;
    font-size: 120%;
    color: var(--secondaryFont);
}

.item-delete-icon:hover {
    cursor: pointer;
    color: var(--primaryFont);
}

.list-action-container {
    width: 100%;
    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
    gap: 2%;
    padding: 2rem 1rem 1rem 1rem;
    font-size: 90%;
}

.new-item-container {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.new-item {
    resize: none;
    padding: 5px 10px;
    font-family: var(--fontFamily);
    font-size: 90%;
    width: 100%;
}

.list-shared-p {
    color: var(--secondaryFont);
    text-align: center;
    margin: 10px 0px;
}

.shared-list {
  list-style-type: none;
  font-weight: 600;
  font-size: 90%;
  padding-top: 10px;
}

/* custom checkbox */
 
  /* Hide the browser's default checkbox */
  .item-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: solid 1px var(--primaryFont);
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .custom-checkbox:hover {
    background-color: #ccc;
    cursor: pointer;
  }
  
  /* When the checkbox is checked, add a blue background */
  .item-label input:checked ~ .custom-checkbox {
    background-color: var(--headerBg);
    border-color: var(--headerBg);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .custom-checkbox:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .item-label input:checked ~ .custom-checkbox:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .item-label .custom-checkbox:after {
    left: 8px;
    top: 2px;
    width: 5px;
    height: 12px;
    border: solid var(--headerFont);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }