#greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-top: 80px;
}

.welcome-h2 {
    margin: 15px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-p {
    /* margin-bottom: 5%;
    margin-top: 1%; */
    margin: 1% 2% 4% 2%;
    text-align: center;
}

.ethyl-pic {
    border: 5px solid var(--headerBg);
    border-radius: 25%;
    height: 100%;
    max-height: 40vh;
}

@media (orientation: landscape) {
    
    #greeting {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 150px;
        margin-bottom: 40px;
    }

    .welcome-h2 {
        font-size: 3em;
    }

    .welcome-p {
        margin: 1%;
    }

    .btn-container-center {
        flex-direction: row;
    }
}